TASK 2 - Dataset manipulation using Pandas

A) Which NYC schools have the best math results? 

The best math results are at least 80% of the *maximum possible score of 800* for math.

Save your results in a pandas DataFrame called best_math_schools, including "school_name" and "average_math" columns, sorted by "average_math" in descending order.

In [19]:
import pandas as pd
import numpy as np

df = pd.read_csv('schools.csv')

To get some basic information about the dataset, we can use the following commands:

In [20]:
print("Amount of Columns and rows", df.shape)
print()
print("Columns: ",df.columns)
print()
print("Data type of each column: \n",df.dtypes)
print()
print("Data description: \n",df.describe())
print()
print("Data info: \n",df.info())
print()
print("Sample print of first 5 rows: \n",df.head(5))

Amount of Columns and rows (375, 7)

Columns:  Index(['school_name', 'borough', 'building_code', 'average_math',
       'average_reading', 'average_writing', 'percent_tested'],
      dtype='object')

Data type of each column:
 school_name         object
borough             object
building_code       object
average_math         int64
average_reading      int64
average_writing      int64
percent_tested     float64
dtype: object

Data description:
        average_math  average_reading  average_writing  percent_tested
count    375.000000       375.000000       375.000000      355.000000
mean     432.944000       424.504000       418.458667       64.976338
std       71.952373        61.881069        64.548599       18.747634
min      317.000000       302.000000       284.000000       18.500000
25%      386.000000       386.000000       382.000000       50.950000
50%      415.000000       413.000000       403.000000       64.800000
75%      458.500000       445.000000       437.500000       79.600000
max      754.000000       697.000000       693.000000      100.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB
Data info:
 None

Sample print of first 5 rows:
                                          school_name    borough building_code  \
0  New Explorations into Science, Technology and ...  Manhattan          M022
1                               Essex Street Academy  Manhattan          M445
2                       Lower Manhattan Arts Academy  Manhattan          M445
3    High School for Dual Language and Asian Studies  Manhattan          M445
4      Henry Street School for International Studies  Manhattan          M056

   average_math  average_reading  average_writing  percent_tested
0           657              601              601             NaN
1           395              411              387            78.9
2           418              428              415            65.1
3           613              453              463            95.9
4           410              406              381            59.7

To verify if the score is indeed under 800, we can use the following commands:

In [21]:
print("Lowest value: ", df['average_math'].min())
print("Highest value: ", df['average_math'].max())

Lowest value:  317
Highest value:  754

To filter the dataset to only show the schools with an average math score of over 80% of 800, we can use the following command:

In [22]:
best_math_schools = df[df['average_math'] > 0.8*800]
best_math_schools = best_math_schools[['school_name', 'average_math']].sort_values('average_math', ascending=False)
print(best_math_schools.head(5))

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

20 null values observed in 'percent_tested' column

In [23]:
print("Null values in percent_tested: ", df['percent_tested'].isnull().sum())
#Replacing null values with column mean
df['percent_tested'] = df['percent_tested'].fillna(df['percent_tested'].mean())
print(df.info())

Null values in percent_tested:  20
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   375 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB
None

What are the top 10 performing schools based on the combined SAT scores?

Save your results as a pandas DataFrame called top_10_schools containing the "school_name" and a new column named "total_SAT", with results ordered by "total_SAT" in descending order.

In [24]:
df['total_SAT'] = df['average_math'] + df['average_reading'] + df['average_writing']
top_10_schools = df[['school_name', 'total_SAT']].sort_values('total_SAT', ascending=False).head(10)
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

Which single borough has the largest standard deviation in the combined SAT score?

In [25]:
# Which NYC borough has the highest standard deviation for total_SAT?
boroughs = df.groupby("borough")["total_SAT"].agg(["count", "mean", "std"]).round(2)
# Filter for max std and make borough a column
largest_std_dev = boroughs[boroughs["std"] == boroughs["std"].max()]
largest_std_dev

           count     mean     std
borough
Manhattan     89  1340.13  230.29